<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AjcProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Services Ordering Plateform</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">A propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="Index">Nos services</a>
                        </li>
                       <li class="nav-item"><partial name="_CartItemCount.cshtml"/></li>

                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">Administration (BackEnd) <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="~/AdminProduct/Index">Produits</a></li>
                                        <li><a class="dropdown-item" href="~/AdminCateg/Index">Catégories</a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="~/Users/Index">Utilisateurs</a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="~/OrderAdmin/Index">Commandes</a></li>
                                    </ul>
                                </li>
                            }

                        }
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-light">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>


    <div class="container text-center">
        <!-- GROUPE 3   : Injecter -->
        <partial name="CategMenu.cshtml" />
    </div>
    <div class="container text-center">
        <img src="~/Images/logo.jpg" />
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AjcProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
