@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row mt-5">
    <div class="col-md-3">
        <img src="/Images/home.jpeg" />
    </div>
    <div class="col-md-8">
        <div class="row">
            <h3>Déroulement du module</h3>
        </div>
        <div class="row">
            <h4>PROJET FINAL & SOUTENANCE</h4>
        </div>
        <div class="row">
            <p class="lead">
                Les stagiaires travaillent en toute
                autonomie, en binôme. Ils sont libres
                d’effectuer les choix adaptés, de
                développer les parties dont ils jugent
                avoir le plus besoin et d'apporter leurs
                propres solutions aux problèmes posés.
            </p>
        </div>
        <div class="row">
            <p class="lead">
                Le formateur encadre les stagiaires par sa
                présence et répond aux questions. Il
                intervient pour épauler un binôme en
                difficulté ou pour faire le point à
                l'ensemble du groupe sur des notions
                non acquises. Il peut être amené à
                approfondir ou compléter certaines
                connaissances.
            </p>
        </div>
    </div>
</div>
