@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row" style="margin-top: 50px">

    <h2>Nous contacter</h2>
</div>
<div class="row">

    <h3>Equipe DEV F-220929-DIS-399-DEV_SHAREPOINT_NEOS_DSI</h3>
</div>
<div class="row">

    <address>
        6 Rue Rougemont,<br />
        75009 Paris, France<br />
        <abbr title="Phone">Tél:</abbr>
        +33 1 82 28 95 27
    </address>
</div>
<div class="row">

    <address>
        <strong>Contact:</strong>   <a href="mailto:eclairezmoi@ajc-formation.fr">eclairezmoi@ajc-formation.fr</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing@ajc-formation.fr">marketing@ajc-formation.fr</a>
    </address>
</div>
