@{
    ViewData["Title"] = "PROJET FINAL : Cloud Services Ordering Platform.";
}
<div class="row mt-5">
    <div class="col-md-3">
        <img src="Images/home.jpeg" />
    </div>
    <div class="col-md-8">
        <div class="row">
            <h3>@ViewData["Title"]</h3>
            <h4>F-220929-DIS-399-DEV_SHAREPOINT_NEOS_DSI</h4>
        </div>
        <div class="row">
            <p class="lead">Plateforme de commande de service Cloud) : Plateforme Web (BackEnd + FrontEnd) de présentation d'offres et services Cloud, Sélection de service, Ajout dans le panier, Confirmation et validation de commande.</p>
        </div>
    </div>
</div>

